requests
flask
beautifulsoup4
discord.py==2.6.4
gTTS==2.5.4
aiohttp==3.8.5
ffmpeg-python==0.2.0
openai-whisper==20250625
# CPU-only Torch for Linux
torch==2.10.0 --index-url https://download.pytorch.org/whl/cpu

